* {
    margin: 0;
    padding: 0;
}

/* font section */
/* inter font */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* reliway font */

.inter-Raleway {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    background-color: #f5f8ff;
}

/* header */
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/* Navbar Section */
.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4e47ff;
}

nav ul li {
    list-style-type: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

li a {
    text-decoration: none;

}

/* shared style */
.primary-color {
    color: #4e47ff;
}

.button {
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16;
    cursor: pointer;
}

.button:hover {
    background-color: #7A73FF;
}

/* banner section */
.banner {
    text-align: center;
}

.banner-heading {
    margin: 158px 267px 37px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.banner-btn {
    margin: 0px 633px 152px;
}

/* action-section */
.action-section-father {
    display: flex;
    padding: 116px 159px 116px 141px;
    gap: 220px;
}

.action-section-childs {
    align-items: center;
    justify-content: center left;
    margin: 62.5px 0px;
}

.action-section-h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin: 0px;
    padding: 0px;
}

.action-section-p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding: 23px 0px;
    color: #8c8e98;
}

.action-section-img {
    border-radius: 48px;
}

/*  Productive Users Section */
.productive-user-section {
    background-color: #e5e7ff;
    border-radius: 24px;
    text-align: center;
    margin: 0px 159px 137px 141px;
    padding: 50px 142px;
}

.users-parent {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.users-parent-h1 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.users-child h1 {
    color: #4e47ff;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.users-child p {
    font-size: 20px;
    color: #72737f;
    font-family: "Inter", sans-serif;
}

.two-million {
    margin: 0px;
}

.again-two-million {
    padding: 0px 158px;
}

/* Ready to focus better section */
.ready-to-focus{
    background-color: #FFFFFF;
    margin: 137px 149px 86px 147px;
    display: flex;
  flex-direction: column;  
  align-items: center;     
  border-radius: 14px;
  padding: 71px 150px;
}
.ready-to-focus-h1{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.ready-to-focus-p{
     font-family: "Inter", sans-serif;
    color: #8c8e98;
    margin: 20px 0px;
   
}
.ready-to-focus-img {
    border-radius: 48px;
    width: 840px;
    height: 364px;
    margin-top: 20px;
}

/* Get In Touch Section*/

.get-in-touch-section {
    display: flex;
    gap: 115px;
    margin: 92px 150px 14px;
    padding: 71px 0px;

}

.get-in-touch-section-h1 {
    color: #000000;
    font-size: 97px;
    font-weight: bold;
    padding: 0px;
    font-family: "Inter", sans-serif;
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex: 1;

}

form {
    flex: 1;
}

/*---------------------form section -----------------------------*/


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

input[type=submit] {
    width: 100%;
    background-color: #4E47FF;
    border: 2px solid #4E47FF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #7A73FF;
}

div {
    border-radius: 5px;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.all-label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/* footer section */

footer {
    text-align: center;
    margin: 104px 520px 103px 519px;
}

.footer-logo {
    font-size: 100px;
    font-weight: 900;
    color: #4e47ff;
    margin: 0px;
}

footer .description {
    color: #8987A1;
    width: 531px;
    height: 48px;
    text-align: center top;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin: 0px;
}

.list-items {
    display: flex;
    /* text-align: center; */
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    list-style: none;
    justify-content: space-around;
    /* text-align: justify; */
    margin: 0px;
    padding: 0px;
}